$white: #ffffff;
$black: #000000;

$capeCod: #3c4242;
$empress: #807d7e;
$paleSlate: #bebcbd;
$athensGray: #edeef2;
$wildSand: #f6f6f6;
$electricViolet: #8a33fd;

$gray: #7f7f7f;

$ronchi: #edd146;
$carissma: #eb84b0;
$merlot: #9c1f35;
