$primary-font: "Poppins", sans-serif;
$secondary-font: "Core", sans-serif;

$fs-xxs: 12px;
$fs-xs: 14px;
$fs-sm: 20px;
$fs-md: 22px;
$fs-lg: 28px;
$fs-xl: 34px;
$fs-xxl: 44px;
$fs-xxxl: 54px;

$font-regular: 400;
$font-medium: 500;
$font-semibold: 600;
$font-bold: 700;
$font-extra-bold: 800;
